@charset "utf-8";
/* 서브페이지용 CSS - sub.css */

/* 공통외부 CSS 합치기 */
@import url(./common.css);

/* 서브페이지 공통 글자설정 */
/* #cont{
    font-family: '나눔고딕', sans-serif;
} */

/* 서브타이틀 */
h2.stit{
    color: rgb(63, 233, 224);
    font-size: 30px;
    font-weight: normal;
    font-family: 'Bagel Fat One', cursive;
    text-align: center;
    text-shadow: 2px 2px 2px black;

    /* outline: 1px solid lightblue; */
    /* 
        [ outline 요소 ]
        box 모델의 필수 속성은 아니지만 박스의 외곽선을 표현해주며 박스 자체의 크기에 영향을 주지 않음.
        outline: 두께 종류 색상
        -> border와 셋팅이 같음!
        단, border-radius 둥근모서리는 보더만 적용되었으나 이제 아웃트라인도 됨.
    */
    padding: 50px;
    /* 배경넣기: 한 번에 쓰기*/
    /* background: url(../images/afig4-1.jpg) no-repeat center/cover; */
    /* background: 색이반고윙/크;
        -> 배경색 이미지 반복 고정 위치/크기 */
    /* 배경넣기: 속성별 쓰기 */
    /* 반복여부 */
    background-repeat: no-repeat;
    /* 배경위치: 가로 세로 */
    background-position: center;
    /* 배경크기: 가로 세로 (cover-박스 채우기) */
    background-size: cover;
    /* 박스 그림자 */
    box-shadow: inset 0 0 6px 5px darkgray;
    /* 
        [ box-shadow 속성 ]
        -박스 외부/내부 그림자 설정속성
        -값: x축 y축 blur spread 색
        text-shadow와 달리 spread 속성이 있음
        이것은 그림자를 커지게 함!
        -내부그림자 옵션: inset
        -그림자 다중설정: 콤마로 연속사용 가능
    */
}

h2.st1{
    background-image: url(../images/background1.jpg);
    background-position-y: -190px;
}

h2.st2{
    background-image: url(../images/background2.jpg);
    background-position-y: -150px;
}

h2.st3{
    background-image: url(../images/background3.jpg);
    background-position-y: -150px;
}

 /* IT/과학 배경 이미지 */
h2.st4{
    /* 배경이미지  */
    background-image: url(../images/background4.jpg);
    background-position-y: -150px;
}

h2.st5{
    background-image: url(../images/background5.jpg);
    /* 배경위치변경 (세로 y축) */
    background-position-y: -90px;
}

/* 언론사 로고 */
.prlogo img{
    height: 32px;
    /* 
        이미지는 기본 비율을 가지고 있어서 가로, 세로 중 한쪽만 크기를 주면 나머지 방향은 자동으로 비율 유지
        단, 가로와 세로를 다 주면 비율이 깨짐
    */
}

/* 기사 타이틀 */
.atit{
    font-size: 30px;
    margin: 20px auto;
}

.afigimg{
    text-align: center;
    margin-bottom: 40px;
}
.afigimg img{
    width: 100%;
}
.acont p{
    font-size: 17px;
    color: black;
    /* 자간: ls */
    letter-spacing: 2px;
    /* 단어간격: ws */
    word-spacing: 1px;
    /* 양쪽 정렬 */
    text-align: justify;
    /* 줄간격 lh */
    line-height: 1.5;
    /*
    글자 라인간 간격 조정
    숫자만 쓰면 배수임(글자 높이값에 대한 배수)
    단위를 쓰면 단위에 맞게 줄간격 조정 
     -> 줄간격의 응용은 버튼 등의 글자를 세로 중앙에 오게 할 때 박스 높이값만큼 준다.
    */
}
/* mark요소 디자인 변경하기 */
.acont p mark {
    display: block;
    background-color: rgba(0, 100, 0, 0.103);
    text-align: center;
    margin: 15px 0;
    padding: 20px 50px;
    font-size: 25px;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    color: green;
    font-family: 'Bagel Fat One', cursive;
    font-weight: lighter;
}

/* 유튜브 동영상 박스 */
.mvbx{
    height: 550px;
    /* 
        div와 같은 block요소는 width 설정을 하지 않으면 width:auto로 자동 설정됨.
        이는 싸고 있는 박스 컨텐트 영역을 자동으로 채워준다!
    */
}
.mvbx iframe{
    border: none;
    width: 100%;
    height: 100%;
}

.rpt{
    background-color: rgba(0, 139, 139, 0.11);
    padding: 10px 20px;
    display: inline-block;
    box-shadow: inset 0 0 1px darkgreen;
    margin: 0;
}

/* 인용블록영역 */
.bqbx{
    padding: 20px 0;
    margin: 20px 0;
    border-top: 2px dashed darkolivegreen;
    border-bottom: 2px dashed darkolivegreen;
}

.bqbx blockquote{
    padding: 15px 0;
    line-height: 2;
}

/* 인용블록 이미지 */
.bqbx img{
    float: right;
    border-radius: 5px;
    margin-left: 20px;
}

/* article 제목 공통 - .atbx */
.atbx h5{
    /* 배경색 */
    background-color: rgba(0, 100, 0, 0.103);
    /* 패딩 */
    padding: 10px 20px;
    display: inline-block;
    border-radius: 20px;
    box-shadow: inset 0 0 5px darkgreen;
    font-size: 20px;
    color: darkgreen;
    margin: 0;
}

/* 주해박스 */
.desc{
    border-top: 2px dashed darkolivegreen;
    border-bottom: 2px dashed darkolivegreen;
    padding: 20px 0;
    font-size: 15px;
    line-height: 2;
}
.desc div{
    padding: 15px 0;
}

/* 기사원문 */
.realnews{
    text-align: right;
}
.realnews a{
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 50px;
    border: 1px solid darkcyan;
    /* border-radius: 50%; 원형 */
    /* 줄간격으로 세로 글자 중앙- 높이값과 같음 */
    line-height: 50px;
    /* 가로 정렬 중앙 */
    text-align: center;
    font-size: 16px;
    /* a요소 기본 글자색 변경, 밑줄 없앰 */
    color: darkcyan;
    background-color: white;
    text-decoration: none;

}
/* 마우스 오버시 변경 */
.realnews a:hover{
    color: white;
    background-color: darkcyan;
}

#cont{
    background-color: white;
}